/* Reset default styles and set a background color */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Changed background color to black */
    color: #fff; /* Changed text color to white */
}

/* Style for main headings */
h1 {
    color: #fff; /* White text color for headings */
    font-size: 36px;
    font-weight: bold;
}

/* Style for section headings */
h2 {
    color: #009688;
    font-size: 28px;
}

/* Style for subheadings */
h3 {
    color: #444;
    font-size: 24px;
}

/* Style for paragraphs */
p {
    color: #666;
    font-size: 18px;
}

/* Style for links */
a {
    color: #007bff;
    text-decoration: none;
}

/* Hover effect for links */
a:hover {
    text-decoration: underline;
}

/* Header styles */
#header {
    background-color: #333; /* Changed header background color to dark gray */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Contact section styles */
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

/* Individual contact details box */
#contact > div {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Remove margins for paragraph elements inside contact details */
#contact > div p {
    margin: 0;
}

/* Margin for various sections */
#education,
#projects,
#skills,
#experience,
#certification,
#languages {
    margin: 20px 0;
}

/* Margin for individual items within sections */
.item {
    margin: 20px 0;
}

/* Section title styles */
.section-title {
    color: #009688;
    font-size: 24px;
    margin: 20px 0;
}

/* Profile image style */
#profile-image {
    width: 150px;
    height: 150px;
    border: 3px solid #009688;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

/* Responsive design for screens with a maximum width of 768px */
@media (max-width: 768px) {
    #contact {
        flex-direction: column;
    }

    #contact > div {
        width: 100%;
    }
}

